@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@font-face {
  font-family: "Modern Negra", "Helvetica", "Arial", sans-serif;
  src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

:root {
  /* dark theme */
  --wallpaperbg: rgba(17, 27, 33, 1);
  --background: rgba(30, 30, 30, 1);
  --surface: rgba(45, 45, 45, 1);
  --border: rgba(63, 63, 63, 1);
  --primaryText: rgba(255, 255, 255, 1);
  --secondaryText: rgba(212, 212, 212, 1);
  --accent: rgba(37, 99, 235, 1);
  --disabled: rgba(122, 122, 122, 1);
  --close: rgb(243, 19, 19);
  --black: rgba(10, 10, 10, 0.98);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Mona Sans", sans-serif;
  color: var(--primaryText);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* background-video */
#backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
#shoutdown {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 99999;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
#refresh {
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9950;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* music player */
#player {
  position: absolute;
  bottom: 180px;
  right: 0;
}

.rename-input {
  background-color: transparent;
  color: var(--secondaryText);
  width: 90px;
  height: 30px;
  font-size: 12px;
  border: none;
  border: 1px solid var(--accent);
  border-radius: 1px;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* Scrollbar track */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar background track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  margin-top: 2px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
  min-height: 30px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ////////////////////////////////////////////////////////////////////// */
/* custom context menu */
#customMenu {
  position: absolute;
  display: none;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 5px 3px;
  width: 250px;
  z-index: 9900;
}

#customMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#customMenu ul li {
  padding: 8px 15px;
  color: var(--primaryText);
  cursor: default;
  border-radius: 5px;
  font-size: 13px;
}

#customMenu ul li:hover {
  background-color: var(--surface);
}

#customMenu #moreOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#customMenu #line {
  margin: 2px 0;
  height: 1px;
  width: 100%;
  background-color: var(--surface);
}
/* //////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////////// */
/* file custom menu */
#fileMenu {
  position: absolute;
  display: none;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 5px 3px;
  width: 250px;
  z-index: 9900;
}

#fileMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#fileMenu ul li {
  padding: 8px 15px;
  color: var(--primaryText);
  cursor: default;
  border-radius: 5px;
  font-size: 13px;
}

#fileMenu ul li:hover {
  background-color: var(--surface);
}

#fileMenu #line {
  margin: 2px 0;
  height: 1px;
  width: 100%;
  background-color: var(--surface);
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* desktop main screen */
.desktop-screen {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--wallpaperbg);
  color: var(--primaryText);
  overflow: hidden;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* parent task bar */
.taskbar {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* weather */
.task-weather {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
}

.task-weather:hover {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.task-weather:active {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.task-weather .weather-img {
  padding: 5px;
}

.task-weather .weather-img img {
  width: 32px;
}

.task-weather .weather-info {
  padding: 5px;
  font-size: 9px;
  color: var(--primaryText);
}

.task-weather .weather-info h2 {
  font-weight: 300;
}

.task-weather .weather-info h3 {
  font-weight: 300;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* icon task */
.task-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}

.task-icon .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  padding-top: 3px;
  position: relative;
}

.task-icon .icons:hover {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.task-icon .icons:active {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.task-icon .all-title {
  position: relative;
}

/* task icon image  */
.task-icon .icons img {
  width: 32px;
  transition: all ease 0.2s;
}

/* task icon search */
.task-icon .icon-search {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 33px;
  border-radius: 50px;
  background: var(--border);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  padding: 5px;
  gap: 5px;
}

.task-icon .icon-search .search-input input {
  width: 85%;
  height: 30px;
  background: none;
  border: none;
  color: var(--primaryText);
}

.task-icon .icon-search .search-input input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.task-icon .icon-search .search-input input::placeholder {
  color: var(--secondaryText);
}

.task-icon .icon-search .search-input i {
  color: var(--primaryText);
}

.task-icon .icon-chatgpt img {
  filter: brightness(0) invert(1);
}

/* window tab / title */
.task-icon .icon-window .opentab-title .title p {
  pointer-events: none;
  color: var(--primaryText);
  position: absolute;
  bottom: 37px;
  margin-left: -40px;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  padding: 7px;
  background: var(--background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  border-radius: 3px;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
}

/* search title */
.task-icon .icon-search .search-title .title p {
  pointer-events: none;
  color: var(--primaryText);
  position: absolute;
  bottom: 37px;
  margin-left: 50px;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  padding: 7px;
  background: var(--background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  border-radius: 3px;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
}

/* copilot title */
.task-icon .icon-copilot .copilot-tab .copilot-title p {
  pointer-events: none;
  color: var(--primaryText);
  position: absolute;
  bottom: 37px;
  margin-left: -12px;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  padding: 7px;
  background: var(--background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  border-radius: 3px;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
}

/* chatgpt title */
.task-icon .icon-chatgpt .chatgpt-tab .gpt-title p {
  pointer-events: none;
  color: var(--primaryText);
  position: absolute;
  bottom: 37px;
  margin-left: -16px;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  padding: 7px;
  background: var(--background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  border-radius: 3px;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
}

/* edge title */
.task-icon .icon-edge .edge-tab .edge-title p {
  pointer-events: none;
  color: var(--primaryText);
  position: absolute;
  bottom: 37px;
  margin-left: -6px;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  padding: 7px;
  background: var(--background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  border-radius: 3px;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
}

/* brave title */
.task-icon .icon-brave .brave-tab .brave-title p {
  pointer-events: none;
  color: var(--primaryText);
  position: absolute;
  bottom: 37px;
  margin-left: -8px;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  padding: 7px;
  background: var(--background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  border-radius: 3px;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
}

/* vscode title */
.task-icon .icon-vscode .vscode-tab .vscode-title p {
  pointer-events: none;
  color: var(--primaryText);
  position: absolute;
  bottom: 37px;
  margin-left: -16px;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  padding: 7px;
  background: var(--background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  border-radius: 3px;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
}

/* fileexplore-title */
.task-icon .icon-fileexplore .fileexplore-tab .fileexplore-title p {
  pointer-events: none;
  color: var(--primaryText);
  position: absolute;
  bottom: 37px;
  margin-left: -23px;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  padding: 7px;
  background: var(--background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  border-radius: 3px;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
}

.explore-img img {
  transition: transform 0.3s ease, scale 0.2s ease;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* wifi/date/time */
.task-tools {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  margin-right: 10px;
  gap: 5px;
  color: var(--primaryText);
}

.task-tools .up-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
}

.task-tools .up-arrow:hover {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.task-tools .up-arrow:active {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.keyboard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 40px;
  border-radius: 5px;
}

.keyboard:hover {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.keyboard:active {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.language:hover {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.language:active {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.language h2 {
  font-size: 12px;
  font-weight: 300;
}

/* wifi/volume/battery */
.task-tools .wsb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  position: relative;
}

.task-tools .wsb:hover {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.task-tools .wsb:active {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.task-tools .wsb .wsb-status {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

#wifi-status {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  top: -135%;
  padding: 10px;
  background: var(--background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  border-radius: 5px;
}

.wsb .wsb-status .volume-status p {
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  position: absolute;
  top: -135%;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px;
  background: var(--background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.wsb .wsb-status .battery-status p {
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  position: absolute;
  top: -135%;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px;
  background: var(--background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.task-tools .wsb-tools {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* time /date */
.time-date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.time-date:hover {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.time-date:active {
  background: var(--surface);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
}

.time-date .time-ampm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.time-date .time-ampm .time h2 {
  font-size: 12px;
  font-weight: 400;
}

.time-date .time-ampm .ampm h2 {
  font-size: 12px;
  font-weight: 400;
}

.time-date .date h2 {
  font-size: 12px;
  font-weight: 400;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* main/parent windows start tab */
.opentab {
  color: var(--primaryText);
  background-color: var(--surface);
  position: absolute;
  bottom: -750px;
  width: 40rem;
  height: 45rem;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  font-size: 13px;
  font-weight: 300;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  border-radius: 8px;
  transition: all ease 0.6s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 9900;
}

.opentab.open {
  bottom: 59px;
}

/* upper section */
.opentab .upper-section {
  width: 100%;
  height: 655px;
  padding: 30px;
  background-color: var(--surface);
}

/* win open tab search */
.opentab .upper-section .win-search {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 33px;
  border-radius: 50px;
  background: var(--background);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  padding: 5px 15px;
  gap: 10px;
}

.opentab .upper-section .win-search input {
  background: none;
  width: 100%;
  height: 100%;
  border: none;
  color: var(--primaryText);
}

.opentab .upper-section .win-search input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.opentab .upper-section .win-search input::placeholder {
  color: var(--disabled);
}

.opentab .upper-section .win-search i {
  color: var(--primaryText);
  font-size: 16px;
}

/* pinned text / all */
.opentab .upper-section .pin-text {
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.opentab .upper-section .pin-text h2 {
  font-size: 15px;
  font-weight: 500;
}

.opentab .upper-section .pin-text .pin-all {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--border);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  padding: 5px 8px;
  gap: 5px;
  border-radius: 5px;
}

.opentab .upper-section .pin-text .pin-all:hover {
  background-color: var(--background);
}

/* upper section pinned all apps */
.opentab .upper-section .pinned-allapps {
  width: 100%;
  height: 340px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
  grid-auto-rows: 100px;
  gap: 0.4px;
  flex-wrap: wrap;
}

.opentab .upper-section .pinned-allapps .apps img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.opentab .upper-section .pinned-allapps .apps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  width: 96px;
  height: 86px;
  border-radius: 5px;
  transition: all 0.1s ease-in;
  padding: 3px;
}

.opentab .upper-section .pinned-allapps .apps:hover {
  background: var(--border);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.pinned-allapps .apps span {
  display: block;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
}

/* recommended / more upper section  */
.opentab .upper-section .recommend-text {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.opentab .upper-section .recommend-text h2 {
  font-size: 15px;
  font-weight: 500;
}

.opentab .upper-section .recommend-text .pin-all {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--border);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  padding: 5px;
  gap: 5px;
  border-radius: 5px;
}

.opentab .upper-section .recommend-text .pin-all:hover {
  background-color: var(--background);
}

/* recommended apps */
.opentab .upper-section .recommend-apps {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  padding-left: 20px;
  flex-wrap: wrap;
}

.opentab .upper-section .recommend-apps .apps {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 267px;
  height: 55px;
  border-radius: 5px;
  gap: 5px;
  padding: 13px;
}

.opentab .upper-section .recommend-apps .apps:hover {
  background: var(--border);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.opentab .upper-section .recommend-apps .apps img {
  width: 38px;
  height: 38px;
  object-fit: contain;
}

.opentab .upper-section .recommend-apps .apps .apps-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2px;
}

.opentab .upper-section .recommend-apps .apps .apps-content span {
  display: block;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
}

.opentab .upper-section .recommend-apps .apps .apps-content small {
  display: block;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
}

/* lower section */
.opentab .lower-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: var(--background);
}

/* admin */
.opentab .lower-section .admin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.opentab .lower-section .admin-profile {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 5px;
  gap: 8px;
  padding: 3px 8px;
}

.opentab .lower-section .admin-profile:hover {
  background: var(--border);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.opentab .lower-section .admin-profile img {
  width: 36px;
}

.opentab .lower-section .admin-profile h4 {
  font-weight: 400;
}

/* shortcut tools */
.opentab .lower-section .admin .shortcut-tools {
  display: flex;
  position: fixed;
  align-items: center;
  bottom: 20;
  right: 50px;
  gap: 0.5px;
}

.opentab .lower-section .admin .shortcut-tools .theme {
  align-items: center;
  justify-content: end;
  width: 40px;
  height: 40px;
}

.opentab .lower-section .admin .shortcut-tools .theme .theme-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 41px;
  border-radius: 5px;
}

.opentab .lower-section .admin .shortcut-tools .theme .theme-icons i {
  padding: 10px 10px;
  top: 0;
  left: 0;
  font-size: 20px;
  transition: opacity 0.3s ease;
}

.opentab .lower-section .admin .shortcut-tools .theme .theme-icons:hover {
  background: var(--border);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.opentab .lower-section .admin .shortcut-tools .setting-icon {
  font-size: 19px;
  padding: 6px 12px;
  border-radius: 5px;
}

.opentab .lower-section .admin .shortcut-tools .setting-icon:hover {
  background: var(--border);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.opentab .lower-section .admin .shortcut-tools .power-icon {
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 5px;
}

.opentab .lower-section .admin .shortcut-tools .power-icon:hover {
  background: var(--border);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////// */
/* open folder/file explorer window */
.desk-file {
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--background);
  transition: all ease-in-out 0.4s;
  overflow: hidden;
  border: 1px solid var(--border);
  box-shadow: 0 0 10px var(--black);
}

.desk-file.show {
  top: 50%;
}

#folderWindow .window-header {
  background-color: var(--black);
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  height: 36px;
}

.window-header #btns button {
  background-color: transparent;
  border: none;
}

.window-header #btns i {
  background-color: transparent;
  color: var(--secondaryText);
  font-size: 15px;
  padding: 10px 14px;
}

.window-header #btns #sub:hover {
  background-color: var(--surface);
  color: var(--secondaryText);
}

.window-header #btns #multySize:hover {
  background-color: var(--surface);
  color: var(--secondaryText);
}

.window-header #btns #close:hover {
  background-color: var(--close);
  color: var(--secondaryText);
}

#folderWindow .window-header #fileName {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 235px;
  height: 100%;
  margin-left: 10px;
  padding: 0 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--surface);
  gap: 5px;
}

#folderWindow .window-header #fileName span {
  font-size: 12px;
  font-weight: 600;
}

#folderWindow .window-header #fileName img {
  width: 20px;
}

#folderWindow .window-header #fileName i {
  font-size: 10px;
  position: absolute;
  right: 10px;
}

#folderWindow #filedetailSec {
  width: 100%;
  height: 50px;
  background-color: var(--surface);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#folderWindow #line {
  height: 1px;
  width: 100%;
  background-color: var(--border);
}

#filedetailSec #fileIcons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 190px;
  height: 50px;
}

#filedetailSec #fileIcons i {
  padding: 8px;
  border-radius: 5px;
}

#filedetailSec #fileIcons i:hover {
  background-color: var(--border);
}

#filedetailSec #inDetail {
  width: 940px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: var(--border);
  border-radius: 5px;
  padding: 5px 10px;
}

#filedetailSec #inDetail i {
  padding: 5px;
  border-radius: 5px;
}

#filedetailSec #inDetail i:hover {
  background-color: var(--disabled);
}

#filedetailSec #inDetail span {
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

#filedetailSec #inDetail span:hover {
  background-color: var(--disabled);
}

#filedetailSec #scanIcon {
  width: 365px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--border);
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 15px;
}

#filedetailSec #scanIcon i {
  padding: 5px;
  border-radius: 5px;
}

#filedetailSec #scanIcon i:hover {
  background-color: var(--disabled);
}

#filedetailSec #scanIcon input {
  width: 340px;
  height: 100%;
  border: none;
  background: none;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  color: var(--primaryText);
}

#filedetailSec #scanIcon input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

#filedetailSec #scanIcon input::placeholder {
  color: var(--secondaryText);
}

/* stright / horizontal line */
#h-line {
  width: 1px;
  height: 35px;
  background-color: var(--border);
  margin: 0 6px;
}

#otherDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: var(--background);
  padding: 0 15px;
}

#otherDetails #leftDetail {
  display: flex;
  align-items: center;
  justify-content: center;
}

#otherDetails span {
  font-size: 12px;
}

#otherDetails #new {
  border-radius: 5px;
  padding: 8px;
  display: flex;
  gap: 10px;
}

#otherDetails #new:hover {
  background-color: var(--border);
}

#leftDetail #otherTools {
  display: flex;
  border-radius: 5px;
  padding: 8px;
  gap: 20px;
  color: var(--disabled);
}

#leftDetail #sortView {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#leftDetail #sortView #sort {
  display: flex;
  gap: 10px;
  border-radius: 5px;
  padding: 8px;
}

#leftDetail #sortView #sort:hover {
  background-color: var(--border);
}

#leftDetail #sortView #view {
  display: flex;
  gap: 10px;
  border-radius: 5px;
  padding: 8px;
}

#leftDetail #sortView #view:hover {
  background-color: var(--border);
}

#leftDetail #more {
  padding: 5px 10px;
  border-radius: 5px;
}

#leftDetail #more:hover {
  background-color: var(--border);
}

#otherDetails #rightDetail {
  padding: 5px 10px;
  border-radius: 5px;
}

#otherDetails #rightDetail:hover {
  background-color: var(--border);
}

/* long h line */
#longh-line {
  width: 1px;
  height: 80vh;
  background-color: var(--border);
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* folder main left / right content */
#folderWindow #windowContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.window-leftContent #line {
  width: 1px;
  height: 100%;
  background-color: var(--border);
  margin: 20px 0;
}

#folderWindow #windowContent .window-leftContent {
  width: 170px;
  height: 100%;
  padding-top: 10px;
}

#folderWindow #windowContent .window-leftContent .pointer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 30px;
}

#folderWindow #windowContent .window-leftContent .pointer:hover {
  background-color: var(--border);
}

#folderWindow #windowContent .window-leftContent img {
  width: 20px;
}

#folderWindow #windowContent .window-leftContent small {
  font-size: 12px;
}

#folderWindow #windowContent .window-leftContent #thispc {
  background-color: var(--surface);
  padding-left: 9px;
}

#folderWindow #windowContent .window-leftContent #thispc:hover {
  background-color: var(--border);
}

#folderWindow #windowContent .window-leftContent .pointer #down-arrow {
  left: 8px;
}

#folderWindow #windowContent .window-leftContent #osC {
  padding-left: 20px;
}

#folderWindow #windowContent .window-leftContent #osC #left-arrow {
  left: 16px;
}

#folderWindow #windowContent .window-leftContent #magnetar {
  padding-left: 20px;
}

#folderWindow #windowContent .window-leftContent #magnetar #left-arrow {
  left: 16px;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* window right content */
#folderWindow #windowContent .window-rightContent {
  width: 100%;
  height: 100%;
}

#folderWindow #windowContent .window-rightContent #smalheading {
  width: 100%;
  padding: 3px;
  border-radius: 2px;
  margin-top: 10px;
}

#folderWindow #windowContent .window-rightContent #smalheading:hover {
  background-color: var(--border);
}

/* drivers */
#folderWindow #windowContent .window-rightContent #drivers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding-left: 15px;
}

#folderWindow #windowContent .window-rightContent #drivers img {
  width: 56px;
}

#folderWindow #windowContent .window-rightContent #drivers span {
  font-size: 11px;
}

#folderWindow #windowContent .window-rightContent #drivers #cDrive {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 2px;
  padding: 3px 8px;
}

#folderWindow #windowContent .window-rightContent #drivers #cDrive:hover {
  background-color: var(--border);
}

#cDrive #drive-details .storageOuterBar {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 200px;
  height: 15px;
  padding-left: 2px;
  margin-top: 4px;
  background-color: var(--secondaryText);
}

#cDrive #drive-details .storageOuterBar .strageInnerBar {
  width: 180px;
  height: 12px;
  background-color: var(--close);
}

#folderWindow #windowContent .window-rightContent #drivers #dDrive {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 2px;
  padding: 3px 8px;
}

#folderWindow #windowContent .window-rightContent #drivers #dDrive:hover {
  background-color: var(--border);
}

#dDrive #drive-details .storageOuterBar {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 200px;
  height: 15px;
  padding-left: 2px;
  margin-top: 4px;
  background-color: var(--secondaryText);
}

#dDrive #drive-details .storageOuterBar .strageInnerBar {
  width: 125px;
  height: 12px;
  background-color: var(--accent);
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

/* desktop folder/files/apps */

.desktop-screen .mainScreen {
  position: absolute;
  width: 100%;
  height: 94%;
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, minmax(85px, 1fr));
  grid-auto-columns: 100px;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
}

.desktop-screen .mainScreen .deskTop-apps {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 98px;
  height: 76px;
  border-radius: 5px;
  padding: 2px 2px;
  transition: all 0.1s ease-in;
  user-select: none;
  cursor: default;
}

.desktop-screen .mainScreen .deskTop-apps:hover {
  background-color: var(--border);
}

.desktop-screen .mainScreen .deskTop-apps img {
  width: 36px;
  height: 38px;
  flex-shrink: 0;
}

.desktop-screen .mainScreen .deskTop-apps span {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: normal;
}

.desktop-screen .mainScreen .deskTop-apps a {
  cursor: default;
}

.desktop-screen .mainScreen .deskTop-apps .link {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

/* notification tab */
.notifyTab {
  /* display: none; */
  position: absolute;
  bottom: 60px;
  right: -340px;
  width: 340px;
  height: 400px;
  border-radius: 5px;
  z-index: 9930;
  transition: all ease 0.5s;
}

.notifyTab.open {
  right: 10px;
}

#notificationTab #notifyTopTab {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  border-radius: 10px;
  border: 1px solid var(--border);
  background-color: var(--background);
}

#notificationTab #notifyTopTab #notifyText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

#notificationTab #notifyTopTab #notifyText p {
  font-size: 14px;
}

#notificationTab #notifyTopTab #notifyText i {
  padding: 4px;
  background-color: var(--surface);
  border-radius: 5px;
}

#notificationTab #notifyTopTab #notifyText i:hover {
  background-color: var(--border);
}

#notificationTab #notifyDownTab {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
  border-radius: 10px;
  border: 1px solid var(--border);
  background-color: var(--background);
}

#notificationTab #notifyDownTab #day {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 15px;
}

#notificationTab #notifyDownTab #day p {
  font-size: 14px;
}

#notificationTab #notifyDownTab #day i {
  padding: 3px;
  background-color: var(--surface);
  border-radius: 5px;
  border: 1px solid var(--disabled);
}

#notificationTab #notifyDownTab #day i:hover {
  background-color: var(--border);
}

#notificationTab #notifyDownTab #clock {
  display: flex;
  align-items: center;
  padding: 15px;
}

#notificationTab #notifyDownTab #clock h2 {
  font-size: 15px;
  font-weight: 400;
}

#notificationTab #notifyDownTab #clock p {
  font-size: 14px;
  font-weight: 300;
  padding-left: 110px;
}

#notificationTab #notifyDownTab #focus {
  display: flex;
  align-items: center;
  padding: 15px;
  left: 0;
}

#notificationTab #notifyDownTab #focus h2 {
  font-size: 15px;
  padding: 0 20px;
  padding-right: 8px;
  font-weight: 500;
}

#notificationTab #notifyDownTab #focus span {
  font-size: 13px;
  font-weight: 500;
  padding-right: 12px;
  color: var(--secondaryText);
}

#notificationTab #notifyDownTab #focus i {
  padding: 2px;
  background-color: var(--surface);
  border-radius: 5px;
  border: 1px solid var(--disabled);
}

#notificationTab #notifyDownTab #focus i:hover {
  background-color: var(--border);
}

#notificationTab #notifyDownTab #focus #runFocus {
  display: flex;
  align-items: center;
  background-color: var(--surface);
  border-radius: 5px;
  padding: 0 10px;
  padding-left: 5px;
  position: absolute;
  right: 15px;
}

#notificationTab #notifyDownTab #focus #runFocus:hover {
  background-color: var(--border);
}

#notificationTab #notifyDownTab #focus #runFocus p {
  font-size: 13px;
}

#notificationTab #notifyDownTab #focus #runFocus i {
  background-color: transparent;
  border-radius: 5px;
  border: none;
}

/* //////////////////////////////////////////////////////////////////////// */
/* vs code tab */
.vsCodeTab {
  display: none;
  position: absolute;
  /* top: 160%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--background);
  transition: all ease-in-out 0.4s;
  overflow: hidden;
  border: 1px solid var(--border);
  box-shadow: 0 0 10px var(--black);
}

/* .vsCodeTab.show {
  top: 50%;
} */

.vsCodeTab .vsHeader {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 36px;
  padding-left: 10px;
}

.vsCodeTab .vsHeader .vsLeftHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vsCodeTab .vsHeader .vsLeftHeader img {
  width: 20px;
  margin-right: 10px;
}

.vsCodeTab .vsHeader .vsLeftHeader span {
  color: var(--disabled);
  font-size: 13px;
  font-weight: 400;
  padding: 3px 10px;
  border-radius: 5px;
}

.vsCodeTab .vsHeader .vsLeftHeader span:hover {
  background-color: var(--surface);
  color: var(--secondaryText);
}

.vsCodeTab .vsHeader .vsLeftHeader .vsHeaderArrow {
  padding-left: 20px;
}

.vsCodeTab .vsHeader .vsLeftHeader .vsHeaderArrow i {
  color: var(--disabled);
  font-size: 18px;
  padding: 3px 3px;
  border-radius: 5px;
  cursor: pointer;
}

.vsCodeTab .vsHeader .vsLeftHeader .vsHeaderArrow i:hover {
  background-color: var(--surface);
}

.vsCodeTab .vsHeader .vsLeftHeader .vsCopilot {
  color: var(--disabled);
  font-size: 18px;
  border-radius: 5px;
  padding-top: 2px;
  position: relative;
  width: 46px;
  height: 24px;
  cursor: pointer;
}

.vsCodeTab .vsHeader .vsLeftHeader .vsCopilot:hover {
  background-color: var(--surface);
}

.vsCodeTab .vsHeader .vsLeftHeader .vsCopilot i {
  position: absolute;
  left: 6px;
}

.vsCodeTab .vsHeader .vsLeftHeader .vsCopilot .down {
  left: 25px;
  border-radius: 5px;
}

.vsCodeTab .vsHeader .vsLeftHeader .vsCopilot .down:hover {
  background-color: var(--border);
}

.vsCodeTab .vsHeader .vsLeftHeader .vsSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface);
  padding: 3px 210px;
  margin: 0 5px;
  border-radius: 5px;
  color: var(--disabled);
  cursor: pointer;
}

.vsCodeTab .vsHeader .vsLeftHeader .vsSearch:hover {
  background-color: var(--background);
}

.vsCodeTab .vsHeader .vsLeftHeader .vsSearch p {
  font-size: 12px;
  font-weight: 400;
}

.vsCodeTab .vsHeader .vsLeftHeader .vsSearch i {
  transform: scaleX(-1);
}

/* vs code right header section///////////////////////////////// */
.vsCodeTab .vsRightHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.vsCodeTab .vsRightHeader .vsLayout i {
  padding: 2px;
  font-size: 20px;
  border-radius: 5px;
  color: var(--disabled);
}

.vsCodeTab .vsRightHeader .vsLayout i:hover {
  background-color: var(--surface);
}

.vsCodeTab .vsRightHeader .vsClose i {
  color: var(--disabled);
  padding: 10px 13px;
}

.vsCodeTab .vsRightHeader .vsClose i:hover {
  background-color: var(--surface);
}

.vsCodeTab .vsRightHeader .vsClose #vsCloseBtn:hover {
  background-color: var(--close);
  color: var(--secondaryText);
}

/* vs body section ///////////////////////////// */
.vsCodeTab .vsBody {
  width: 100%;
  height: 100%;
  display: flex;
}
/* vs code file section //////////////////////////////////////////// */
.vsCodeTab .vsFileSec {
  width: 270px;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: var(--black);
}

.vsCodeTab .vsFileSec .vsFiles {
  width: 55px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.vsCodeTab .vsFileSec .vsFiles i {
  font-size: 25px;
  padding: 12px 10px;
  color: var(--disabled);
}

.vsCodeTab .vsFileSec .vsFiles i:hover {
  color: var(--accent);
}

.vsCodeTab .vsFileSec .vsFiles .workFiles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.vsCodeTab .vsFileSec .vsFiles .workFiles #file {
  background-color: var(--border);
  color: var(--accent);
}

.vsCodeTab .vsFileSec .vsFiles .vsAdmin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 110px;
}

/* vs footer /////////////////////////////////////////////////////*/
.vsCodeTab .vsFooter {
  position: absolute;
  bottom: 47px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 28px;
  background-color: var(--black);
}

.vsCodeTab .vsFooter .leftFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vsCodeTab .vsFooter .leftFooter .errors {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.vsCodeTab .vsFooter .leftFooter .errors:hover {
  background-color: var(--accent);
}

.vsCodeTab .vsFooter .leftFooter p {
  font-size: 12px;
}

.vsCodeTab .vsFooter .leftFooter #code {
  padding: 5px 15px;
  margin-right: 10px;
  background-color: var(--accent);
}

.vsCodeTab .vsFooter .rightFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  gap: 5px;
}

.vsCodeTab .vsFooter .rightFooter i {
  padding: 5px;
}

.vsCodeTab .vsFooter .rightFooter i:hover {
  background-color: var(--accent);
}

.vsCodeTab .vsFooter .rightFooter .goLive {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.vsCodeTab .vsFooter .rightFooter .goLive:hover {
  background-color: var(--accent);
}

.vsCodeTab .vsFooter .rightFooter .goLive p {
  font-size: 12px;
}

/* vertical line */
.vsCodeTab .vsFileSec .verticalLine {
  width: 1px;
  height: 100%;
  background-color: var(--surface);
}

/* horizontal line */
.vsCodeTab .vsFileSec .horizontalLine {
  height: 1px;
  width: 100%;
  margin: 5px 0;
  background-color: var(--surface);
}

/* vs code work section //////////////////////////////////////////*/
.vsCodeTab .vsFileSec .vsExploreSec {
  width: 100%;
  height: 100%;
}

.vsCodeTab .vsFileSec .vsExploreSec .exploreHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;

  color: var(--disabled);
}

.vsCodeTab .vsFileSec .vsExploreSec .exploreHead p {
  font-size: 10px;
  font-weight: 500;
}

.vsCodeTab .vsFileSec .vsExploreSec .vsNewFolder {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.vsCodeTab .vsFileSec .vsExploreSec .vsNewFolder p {
  font-size: 11px;
  font-weight: 700;
}

.vsCodeTab .vsFileSec .vsExploreSec .vsNewFolder i {
  color: var(--disabled);
}

.vsCodeTab .vsFileSec .vsExploreSec .vsOutliner {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.vsCodeTab .vsFileSec .vsExploreSec .vsOutliner p {
  font-size: 11px;
  font-weight: 700;
}

.vsCodeTab .vsFileSec .vsExploreSec .vsOutliner i {
  color: var(--disabled);
}

.vsCodeTab .vsFileSec .vsExploreSec .vsTimeLine {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.vsCodeTab .vsFileSec .vsExploreSec .vsTimeLine p {
  font-size: 11px;
  font-weight: 700;
}

.vsCodeTab .vsFileSec .vsExploreSec .vsTimeLine i {
  color: var(--disabled);
}

/* vs code work section ////////////////////////////////////////// */
.vsCodeTab .vsWorkSection {
  width: 100%;
  height: 100%;
}
.vsCodeTab .vsWorkSection .workHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 33px;
  background-color: var(--border);
}

.vsCodeTab .vsWorkSection .workHead .vsFileName {
  display: flex;
  align-items: center;
  width: 120px;
  height: 100%;
  gap: 5px;
  padding: 0 10px;
  background-color: var(--surface);
  border-right: 1px solid var(--accent);
}

.vsCodeTab .vsWorkSection .workHead .vsFileName img {
  width: 20px;
}

.vsCodeTab .vsWorkSection .workHead .vsFileName p {
  font-size: 12px;
}

.vsCodeTab .vsWorkSection .workHead .vsFileName i {
  font-size: 12px;
  padding: 3px;
  border-radius: 3px;
}

.vsCodeTab .vsWorkSection .workHead .vsFileName i:hover {
  background-color: var(--background);
}

/*  horizontalLine ////////////////////////////////////*/
.vsCodeTab .vsWorkSection .horizontalLine {
  width: 100%;
  height: 1px;
  background-color: var(--black);
}

.vsCodeTab .vsWorkSection .otherTools {
  margin-right: 11px;
}

.vsCodeTab .vsWorkSection .otherTools i {
  padding: 3px;
  border-radius: 3px;
  color: var(--secondaryText);
}

.vsCodeTab .vsWorkSection .otherTools i:hover {
  background-color: var(--background);
}

.vsCodeTab .vsWorkSection .codeSpace {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 80%;
}

.vsCodeTab .vsWorkSection .codeSpace textarea {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--background);
  color: var(--primaryText);
  padding: 5px;
}

/* brave browser//////////////////////////////////////////////////////////// */
.braveBrowser {
  display: none;
  position: absolute;
  /* top: 160%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--background);
  transition: all ease-in-out 0.4s;
  overflow: hidden;
  border: 1px solid var(--border);
  box-shadow: 0 0 10px var(--black);
}

/* .braveBrowser.show {
  top: 50%;
} */

/* brave header */
.braveBrowser .braveHeader {
  background-color: #1a1a51;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 43px;
  padding-left: 10px;
}

.braveBrowser .braveHeader .newTab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 8px;
  gap: 5px;
  border-radius: 5px;
  background-color: #323fa6;
}

.braveBrowser .braveHeader .newTab h2 {
  font-size: 13px;
  font-weight: 400;
}

.braveBrowser .braveHeader .newTab i {
  font-size: 12px;
  border-radius: 50px;
  padding: 3px;
}

.braveBrowser .braveHeader .newTab i:hover {
  background-color: #65a8de;
}

.braveBrowser .braveHeader .closeBrowser {
  display: flex;
  align-items: center;
  justify-content: center;
}

.braveBrowser .braveHeader .closeBrowser i {
  padding: 11px 15px;
}

.braveBrowser .braveHeader .closeBrowser i:hover {
  background-color: var(--surface);
}

.braveBrowser .braveHeader .closeBrowser #close:hover {
  background-color: var(--close);
}

/* search input */
.braveBrowser .braveSearch {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  background-color: #313ea4;
  padding: 10px;
}

.braveBrowser .braveSearch i {
  font-size: 21px;
  padding: 3px;
  color: var(--secondaryText);
  border-radius: 8px;
}

.braveBrowser .braveSearch i:hover {
  background-color: #171c4b;
}

.braveBrowser .braveSearch i:active {
  background-color: #131386;
}

/* search input */
.braveBrowser .braveSearch .searchInput {
  display: flex;
  height: 35px;
  width: 600px;

  border: 1px solid var(--disabled);
  border-radius: 8px;
}

.braveBrowser .braveSearch .searchInput input {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  background-color: #2b3374;
  color: var(--primaryText);
  border: none;
  outline: none;
  padding: 10px;
}

.braveBrowser .braveSearch .searchInput input::placeholder {
  color: var(--primaryText);
}

.braveBrowser .braveSearch .searchInput img {
  padding: 3px 6px;
  transition: all ease 0.3s;
}

.braveBrowser .braveSearch .searchInput img:active {
  scale: 0.8;
}

.braveBrowser .braveLine {
  width: 100%;
  height: 1px;
  background-color: #5d68b8;
}

.braveBrowser #browserFrame {
  width: 100%;
  height: 100%;
  background-image: url("./background/pubg-mobile-venom-5120x2880-19315.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */
/* chat gpt */
.chatGptTab {
  /* display: none; */
  position: absolute;
  /* top: 160%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--background);
  transition: all ease-in-out 0.4s;
  overflow: hidden;
  border: 1px solid var(--border);
  box-shadow: 0 0 10px var(--black);
}

/* .braveBrowser.show {
  top: 50%;
} */

/* chat gpt header */
.chatGptTab .gptHeader {
  background-color: var(--surface);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  padding-left: 10px;
}

.chatGptTab .gptHeader .gptIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.chatGptTab .gptHeader .gptIcon img {
  width: 23px;
  color: var(--secondaryText);
  filter: brightness(0) invert(1);
}

.chatGptTab .gptHeader .gptIcon p {
  font-size: 12px;
}

.chatGptTab .gptHeader .closeGpt {
  display: flex;
  align-items: center;
}

.chatGptTab .gptHeader .closeGpt i {
  padding: 6px 10px;
}

.chatGptTab .gptHeader .closeGpt i:hover {
  background-color: var(--border);
}

.chatGptTab .gptHeader .closeGpt #close:hover {
  background-color: var(--close);
}

.chatGptTab .gptLine {
  width: 100%;
  height: 1px;
  background-color: var(--disabled);
}

/* chat gpt work space//////////////////////////////////////////////////////////// */
.chatGptTab .gptWorkSpace {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
}

.chatGptTab .gptTools {
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  color: var(--secondaryText);
  gap: 10px;
}

.chatGptTab .gptTools img {
  width: 36px;
  color: var(--secondaryText);
  filter: brightness(0) invert(1);
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.chatGptTab .gptTools i {
  font-size: 18px;
  border-radius: 8px;
  padding: 5px;
}

.chatGptTab .gptTools i:hover {
  background-color: var(--border);
}

.chatGptTab .gptWorkSpace .gptLine {
  width: 1px;
  height: 100%;
  background-color: var(--border);
}

.chatGptTab .gptWorkSpace .chatContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.chatGptTab .gptWorkSpace .chatContainer .getPlus {
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: #5d68b8;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 60px;
  gap: 5px;
}

.chatGptTab .gptWorkSpace .chatContainer .getPlus h2 {
  font-size: 13px;
  font-weight: 400;
}

.chatGptTab .gptWorkSpace .chatContainer .askGpt {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 900px;
  height: 500px;
  border-radius: 50px;
  background-color: var(--surface);
}

.chatGptTab .gptWorkSpace .chatContainer .askGpt .chatBox {
  width: 850px;
  height: 400px;
  margin-top: 25px;
  padding: 10px 20px;
}

.chatGptTab .gptWorkSpace .chatContainer .askGpt input {
  width: 850px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 0 20px;
  color: var(--primaryText);
  background-color: var(--border);
}
